.super-mario {
    width: 200px;
    position: absolute;
    top: 80px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
  }
  
  .baloon {
           
    top: 50px;
    position: absolute;
    top: 550px;
    z-index: 2;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 600px;
    z-index: 3;
    left: 25px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 650px;
    left: 290px;
    z-index: 1;
 
  }