* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section img {
    max-width: 100%;
    display: block;
    font-size: 0;
    margin-bottom: 8px;
}

article {
    display: flex;
    flex-wrap: wrap;
    font-family: Tahoma;
}

article section {
    padding: 12px;
    max-width: 300px;
    border-radius: 8px;
    margin-right: 24px;
    margin-bottom: 24px;
    box-shadow: #333 2px 1px 10px;
}


.title {
    margin-bottom: 24px;
    color: green;
    text-align: center;
}

body {
    padding: 16px;
    background-color: white;
    display: flex;
}

footer {
    text-align: center;
    color: black;
    margin-top: 96px;
}