.div1:hover{

    background-color: blue;
    
}

.div1 {

    color: purple;
}

.div2:hover{

    background-color: darkgoldenrod;
}
.div2 {
    color: seagreen;
}

.div3:hover{

    background-color: darkred;
}
.div3 {
    
    color: slategrey;
    font-size: 50px;
}
#classe3 {
    font-style: italic;
}

#classe1 {
    font-family: Arial, Helvetica, sans-serif;
}