

h1 {

     text-align: center;
}

.cont1 {
    
    color: black;
     margin-left: 40%;
    overflow: visible;
  
    }

    body{

     background-color: cornflowerblue;
    }

  li:hover {

    background-color: darkgreen;
  }
  li:active {
   font-style: italic;
    
  }

.cont2 {

    color: black;
     margin-left: 40%;
    overflow: visible;
}


.div1{
    color: violet;
}